.App {
  text-align: left;
  overflow: "hidden";
  font-size: large;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #262a31;
}

.articleBox {
  background-color: transparent;
  padding: 10px;
  margin-top: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #eaf6fd;
  border-radius: 10px;
}

.articleBox:hover {
  background-color: #f5fafe;
}

.userProfile {
  background-color: transparent;
  padding: 10px;
  margin-top: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #eff0f8;
  border-radius: 10px;
  margin-left: 45px;
}

.searchFilterBox {
  border-style: solid;
  border-width: 4px;
  border-color: #eaf6fd;
  background-color: #ecf8ff4b;
  border-radius: 10px;
  height: 120px;
  width: 87%;
  text-align: center;
  margin-left: 45px;
}

.searchBar {
  display: flex;
  width: 600px;
  min-height: 35px;
  border-radius: 10px;
  background-color: #eff0f8;
  padding-left: 30px;
  justify-content: space-around;
  margin: 5px;
}

.App-link {
  color: #61dafb;
}

.iconButton {
  background-color: transparent;
  border: none;
  width: 10px;
  border-radius: 50%;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #eff0f8;
  height: 1px;
}

.navLink {
  padding-left: 20px;
  color: #262a31;
}

.navLink:hover {
  color: #3c4a9b;
  font-weight: bold;
  text-decoration-line: none;
}

.navOption {
  margin-bottom: 20px;
}

.cardLink,
.cardLink:hover,
.cardLink:visited,
.cardLink:active {
  text-decoration: none;
  color: inherit;
}

.scrollableDiv {
  overflow-y: auto;
  min-height: 380px;
  overflow-x: hidden;
}

input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  background-color: transparent;
  width: 150px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}

.loginBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eff0f8;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #dbdce6;
  border-radius: 10px;
  width: 50%;
  min-height: 300px;
  margin: 90px 220px;
  text-align: center;
  padding: 70px 0;
}

.loginField {
  width: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  margin: auto;
}

.aboutBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eff0f8;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #dbdce6;
  border-radius: 10px;
  align-items: stretch;
  min-height: 300px;
  margin: 90px 220px;
  text-align: center;
  padding: 70px 0;
}

.astext {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: #262a31;
  padding-left: 20px;
}

.astext:hover {
  color: #3c4a9b;
  font-weight: bold;
  text-decoration-line: none;
}

.answerAsk {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.cardText {
  text-align: left;
}

.chart {
  width: 100%;
  height: 740px;
}

.Loading {
  position: absolute;
  top: 150%;
  left: 50%;
}
