.App {
  text-align: left;
  overflow: "hidden";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #262a31;
}

.articleBox {
  background-color: transparent;
  padding: 10px;
  margin-top: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #eff0f8;
  border-radius: 10px;
}

.searchFilterBox {
  border-style: solid;
  border-width: 2px;
  border-color: #dedfec;
  border-radius: 10px;
  height: 100px;
  width: 87%;
  text-align: center;
  margin-left: 45px;
}

.searchBar {
  display: flex;
  width: 600px;
  min-height: 35px;
  border-radius: 10px;
  background-color: #eff0f8;
  padding-left: 30px;
  justify-content: space-around;
  margin: 5px;
}

.App-link {
  color: #61dafb;
}

.iconButton {
  background-color: transparent;
  border: none;
  width: 10px;
  border-radius: 50%;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #eff0f8;
  height: 1px;
}

.navLink {
  padding-left: 20px;
  color: #262a31;
}

.navLink:hover {
  color: #3c4a9b;
  text-decoration-line: none;
}

.navOption {
  margin-bottom: 20px;
}

.cardLink,
.cardLink:hover,
.cardLink:visited,
.cardLink:active {
  text-decoration: none;
  color: inherit;
}

.scrollableDiv {
  overflow-y: auto;
  min-height: 380px;
}

input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  background-color: transparent;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}

.loginBox {
  background-color: #eff0f8;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #dbdce6;
  border-radius: 10px;
  width: 50%;
  min-height: 300px;
  margin: 90px 220px;
  text-align: center;
  padding: 70px 0;
}
