.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #262a31;
}

.articleBox {
  background-color: transparent;
  padding: 10px;
  margin-top: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #eff0f8;
  border-radius: 10px;
}

.searchFilterBox {
  border-style: solid;
  border-width: 2px;
  border-color: #dedfec;
  border-radius: 10px;
  height: 100px;
  width: 1000px;
  text-align: center;
}

.searchBar {
  display: flex;
  width: 600px;
  min-height: 35px;
  border-radius: 10px;
  background-color: #eff0f8;
  padding-left: 30px;
  justify-content: space-around;
  margin: 5px;
}

.App-link {
  color: #61dafb;
}

.iconButton {
  background-color: transparent;
  border: none;
  width: 10px;
  border-radius: 50%;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #eff0f8;
  height: 1px;
}

input[type="text"] {
  background-color: transparent;
  border: none;
}

.navLink {
  padding-left: 20px;
  color: #262a31;
}

.navLink:hover {
  color: blueviolet;
}

.navOption {
  margin-bottom: 20px;
}
